@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Pretendard-Regular;
    background-color: #000000;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    color: #000000;
    padding: 10px 0;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #845e5e;
}

main {
    padding: 50px;
    text-align: center;
}

main h1 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
}


footer {
    background-color: #000000;
    color: #e6e6e6;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
